html,
body {
  height: 100%;
  background-color: #fff;
}
div .form-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 370px;
  padding: 40px;
  margin: auto;
}
div .form-signin h3 {
  padding-bottom: 40px;
  font-weight: 600;
}
div .form-signin .login-type {
  width: 370px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div .form-signin .login-type span {
  border: 1px solid #e5e5e5;
  padding: 10px 0;
  padding-left: 44.57px;
  padding-right: 44px;
}
div .form-signin .login-type span i {
  padding: 5px;
}
div .form-signin .login-type span:hover {
  color: #1890ff;
  cursor: pointer;
}
div .form-signin .login-type span:hover .user,
div .form-signin .login-type span:hover .erweima {
  fill: #1890ff;
}
div .form-signin .activeOne > span:nth-child(1) {
  border: 1px solid #1890ff;
  color: #1890ff;
}
div .form-signin .activeOne > span:nth-child(1) .user {
  fill: #1890ff;
}
div .form-signin .activeTwo > span:nth-child(2) {
  border: 1px solid #1890ff;
  color: #1890ff;
}
div .form-signin .activeTwo > span:nth-child(2) .erweima {
  fill: #1890ff;
}
div .form-signin .form-control {
  width: 370px;
  min-height: 40px;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #e5e5e5;
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  padding-left: 25px;
}
div .form-signin .form-control::placeholder {
  color: #bfbfbf;
  font-weight: 550;
}
div .form-signin .form-control:focus {
  outline: none;
}
div .form-signin .form-control:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}
div .form-signin .label {
  position: absolute;
  top: 20px;
  z-index: 1;
  left: 15px;
}
div .form-signin .username {
  position: relative;
}
div .form-signin .password {
  position: relative;
}
div .form-signin .password .eyes-img {
  position: absolute;
  right: 15px;
  top: 20px;
}
div .form-signin .btn {
  width: 370px;
  height: 40px;
  background: #2E9AFE;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
div .form-signin .check {
  position: relative;
}
div .form-signin .check .code {
  position: absolute;
  top: 10px;
  right: 7px;
}
div .form-signin .check .code img {
  width: 100px;
  height: 40px;
}
div .form-signin .remember {
  width: 370px;
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
div .form-signin .remember label {
  padding-left: 4px;
  padding-right: 221px;
}
div .form-signin .remember a {
  color: #1890ff;
  text-decoration: none;
}
div .form-signin .otherLogin {
  width: 370px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
div .form-signin .otherLogin img {
  width: 32px;
  height: 32px;
}
